/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
Modified by BalusC
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
	margin: 0;
	color: #373737;
	background: #f2f2f2;	
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: .5em 0;
	font-weight: 700;
	color: #212121;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -.06em;
}

h2 {
	padding: .5em 0;
	font-size: 1.6em;
	border-bottom: 1px #ccc dashed;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

p {
	margin: 1em 0;
}

footer p {
	color: #f2f2f2;
}

a {
	color: #007edf;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

footer a {
	color: #F2F2F2;
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a img {
	border: 0; /* IE */
}

p img {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	border: none;
}

pre, code {
	width: 99%;
	padding: .2em;
	border-radius: .2em;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
	background-color: #fff;
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	letter-spacing: -.05em;
}

pre {
	margin: 1em 0;
	padding: .5em;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
}

pre code {
	width: auto;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

blockquote {
	color: #666;
	margin-bottom: 1em;
	padding: 0 0 0 1em;
	border-left: .2em solid #bbb;
}

ul, ol, dl {
	margin-bottom: 1em;
}

ul, ol, dl dd, dl p {
	padding-left: 1.5em;
}

dl dt {
	font-weight: bold;
}

dl dd, dl p {
	font-style: italic;
}

hr {
	margin: 2em 0;
	height: 1px;
	border: none;
	background-color: #ccc;
}

table {
	border: 1px solid #373737;
	margin-bottom: 1em;
	text-align: left;
}

th {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: .5em;
	background: #373737;
	color: #fff;
}

td {
	padding: .5em;
	border: 1px solid #373737;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.outer {
	width: 100%;
}

.inner {
	position: relative;
	min-width: 320px;
	max-width: 1000px;
	padding: 20px 10px;
	margin: 0 auto;
}

#forkme_banner {
	display: none;
}

#header_wrap {
	background: #212121;
	background: -moz-linear-gradient(top, #373737, #212121);
	background: -webkit-linear-gradient(top, #373737, #212121);
	background: -ms-linear-gradient(top, #373737, #212121);
	background: -o-linear-gradient(top, #373737, #212121);
	background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
	background: url(images/OmniFaces-logo-90x90-white.png) no-repeat left center;
	min-width: 215px;
	max-width: 895px;
}

#project_title {
	margin: 0;
	color: white;
	font-size: 2.4em;
	text-shadow: #111 0 0 .4em;
	line-height: 1em;
}

#project_tagline {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.275em;
	font-weight: 300;
	color: white;
	text-shadow: #111 0 0 .3em;
}

#downloads {
	display: none;
}

#main_content {
	padding-top: 2em;
}

#footer_wrap {
	background: #212121;
}


/*******************************************************************************
Large Device Styles
*******************************************************************************/

@media screen {

	body {
		font-size: 120%;
		line-height: 160%;
		transition: all .3s;
	}

	pre, code, .code {
		font-size: 90%;
		line-height: 120%;
		transition: all .3s;
	}

	#header_wrap .inner {
		padding: 50px 10px 30px 125px;
		background-size: 100px 100px;
		background-position-x: 10px;
		background-position-y: 30px;
		transition: all .3s;
	}

}


/*******************************************************************************
Medium Device Styles
*******************************************************************************/

@media screen and (max-width: 1023px) {

	body {
		font-size: 110%;
		transition: all .3s;
	}

	#header_wrap .inner {
		padding: 40px 10px 20px 117px;
		background-size: 90px 90px;
		background-position-y: 22px;
		transition: all .3s;
	}

}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 767px) {

	body {
		font-size: 100%;
		transition: all .3s;
	}

	#header_wrap .inner {
		padding: 30px 10px 18px 106px;
		background-size: 80px 80px;
		background-position-y: 14px;
		transition: all .3s;
	}

}